.box-content {
	@include box-shadow(0 0 5px rgba(0, 0, 0, .45));

	background-color: $color-content-bg-normal;
	max-height: 100%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	width: 100%;

	.content {
		color: $color-content-text-normal;
		height: 100%;
		overflow-y: auto;
		padding: 35px;

		p {
			line-height: 1.66em;
			text-align: justify;
			margin-bottom: 40px;
		}

		b { font-weight: 500; }

		h3 { 
			color: $color-primary-normal; 
			font-size: 1.73em;
			margin-bottom: 35px;
		}
	}

	.call-to-action {
		bottom: -24px;
		left: 50%;
		position: absolute;
	
		@include transition( all .7s );
		@include transform( translate(-50%) );

		&:hover {
			background-color: $color-primary-dark;

			@include box-shadow( 0 0 15px rgba(0, 0, 0, 1) );
		}
	}
	
}