.menu {
	background-color: rgba(0, 0, 0, .8);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 2;

	ul {
		color: $color-content-text-normal;
		display: inline-block;
	}

	li {
		font-size: 1.6em;
		line-height: 200%;
	}

	.close {
		background-color: $color-primary-normal;
		color: $color-button-text-normal;
		height: 44px;
		position: absolute;
		right: 0;
		top: 0;
		width: 44px;

		span {
			cursor: pointer;
			font-weight: 500;
			line-height: 44px;
		}
	}
}