section#video {

	/* Removes because background-image overrides video */
	background-image: none;

	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	top: 0;
	right: 0;

	video {
		@include transform(translateX(-50%) translateY(-50%));
		height: 100%;
		left: 50%;
		position: fixed;
		top: 50%;
		z-index: -1;
	}

	.overlay {
		@include full-page();
		@include transition(opacity 1.5s);
		background-color: rgba(0, 0, 0, 0.8);

		&.invisible { opacity: 0; }
		&.visible { opacity: 1; }
	}

	.content { 
		display: inline-block;
		margin-top: calc(100vh - 200px);

		h1.logo { margin-bottom: 50px; }
	}
}