@mixin transform($value){
	-webkit-transform: $value;
	-moz-transform: $value;
	transform: $value;
}

@mixin border-radius($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin box-shadow($value){
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}

@mixin full-page(){
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin transition($value){
	-webkit-transition: $value;
	-moz-transition: $value;
	transition: $value;
}

@mixin background-gradient($from, $startColor, $endColor){
	background: -webkit-linear-gradient($from, $startColor, $endColor);
}